@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Baloo+2:wght@400;600;700;800&display=swap');

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.cover {
    flex-direction: column;
}

header {
    padding: 15px 40px;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: space-between;
    border-bottom: 0.3px solid rgba(128, 128, 128, 0.374);
}

footer {
    padding: 20px 100px 15px 40px;
    justify-content: space-between;
    background-color: rgb(30, 65, 60);
}

/* секции */
.main-page {
    margin: 30px 0 50px 0;
    padding: 10px 0px 10px 90px;
}

.process {
    display: flex;
    padding: 50px 0px;
    background-color: rgba(0, 185, 160, 0.139);
}

.reasons {
    display: flex;
    padding: 50px 0px;
}

.to-start {
    max-width: 900px;
    margin: 50px 50px 60px 110px;
    padding: 60px;
    background: rgb(0, 185, 160);
    border-radius: 32px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

/* section div */
.to-start div {
    align-items: flex-start;
    width: 70%;
}

.process-list {
    margin-top: 15px;
}

.reasons-list {
    margin-top: 25px;
}

.ready-game {
    margin-bottom: 10px;
}

/* article */
article {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border: 0.2px solid rgba(128, 128, 128, 0.288);
    border-radius: 15px;
    transition: transform 0.2s linear;
}

article:hover {
    transform: translateY(-2px);
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.process article {
    margin: 20px 10px;
    padding: 20px 30px;
    background-color: white;
}

.reasons article {
    margin: 10px 20px;
    padding: 22px 25px;
    width: 100%;
    max-width: 500px;
    align-items: start;
}

.article-div {
    margin-left: 15px;
    align-items: start;
}

/* текст */
.title {
    font-family: "Baloo 2", "cursive";
    font-weight: bolder;
    color:black;
    font-size: 1.3em;
}

h1 {
    font-weight: 800;
    color:rgb(0, 48, 42);
    margin: 20px 0px 10px 0px;
}

#ready {
    color: white;
    font-size: 2.3em;
}

h4 {
    font-weight: 700;
    color:rgb(0, 67, 52);
    margin: 0px 0px 5px 0px;
}

p {
    margin: 0;
    color: grey;
}

.info-text {
    color: white;
    font-weight: 800;
}

.copyright {
    font-size: 0.7em;
    font-weight: lighter;
    transform: scale(1,1);
}

/* кнопки*/
a {
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 15px;
}

nav a {
    color: gray;
}

.main-page a {
    padding: 12px 25px;
    font-size: 20px;
}

.start-btn {
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(0, 185, 160);
    transition: transform 0.2s linear;
}

.start-btn:hover {
    transform: translateY(-2px);
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2)
}

.how-process {
    margin-left: 14px;
    color: black;
    padding: 8px 13px;
    border: 2px solid rgba(0, 185, 160, 0.3);
    transition: transform 0.2s linear;
}

.how-process:hover {
    transform: translateY(-2px);
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.to-menu {
    padding: 12px 25px;
    font-size: 1em;
    display: flex;
    align-items: center;
    background-color: white;
    color: rgb(0, 185, 160);
    margin-top: 20px;
    transition: transform 0.2s linear;
}

.to-menu:hover {
    transform: translateY(-2px);
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

/* img */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards {
    margin-top: 28px;
    width: 50%;
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border-radius: 20px;
    overflow: hidden;
}

.big {
    width: 100%;
    height: 249px;
}

.small {
    flex: 1;
    min-width: 250px;
    height: 249px;
}

.info {
    background: rgb(0, 185, 160);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* svg */
.reasons svg {
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
}

span {
    color: rgba(0, 82, 71, 0.781);
    background-color: rgba(0, 185, 160, 0.3);
    font-weight: 900;
    font-size: 0.8em;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.gamepad-big {
    padding: 10px;
    margin: 20px 10px 0 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.249);
}

.gamepad {
    margin-right: 5px;
}

/* game */
#game {
    border: 1px solid black;
}

.game-section {
    justify-content: center;
    height: 80vh;
}