@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Baloo+2:wght@400;600;700;800&display=swap');

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.cover {
    flex-direction: column;
}

header {
    padding: 15px 40px;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: space-between;
    border-bottom: 0.3px solid rgba(128, 128, 128, 0.374);
}

footer {
    padding: 20px 40px;
    justify-content: space-between;
    background-color: rgb(30, 65, 60);
}

/* секции */
.main-page {
    margin: 50px 0 50px 0;
    padding: 10px 0px 10px 90px;
}

.process {
    display: flex;
    padding: 50px 0px;
    background-color: rgba(0, 185, 160, 0.139);
}

.reasons {
    display: flex;
    padding: 50px 0px;
}

.to-start {
    color: white;
}

/* section div */
.to-start div {
    justify-content: center;
    text-align: left;
    width: 70%;
    border-radius: 8px;
}

.process-list {
    margin-top: 15px;
}

.reasons-list {
    margin-top: 25px;
}

/* article */
article {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border: 0.2px solid rgba(128, 128, 128, 0.288);
    border-radius: 15px;
}

.process article {
    margin: 20px 10px;
    padding: 20px 30px;
    background-color: white;
}

.reasons article {
    margin: 10px 20px;
    padding: 20px 25px;
    width: 100%;
    max-width: 400px;
    align-items: start;
}

.article-div {
    margin-left: 15px;
    align-items: start;
}

/* текст */
.title {
    font-family: "Baloo 2", "cursive";
    font-weight: bolder;
    color:black;
}

h1 {
    font-weight: 800;
    color:black;
    margin: 20px 0px 10px 0px;
}

h4 {
    font-weight: 700;
    color:black;
    margin: 0px 0px 5px 0px;
}

p {
    margin: 0;
    color: grey;
}

.info-text {
    color: white;
    font-weight: 800;
}

/* кнопки*/
a {
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 17px;
}

nav a {
    color: gray;
}

.main-page a {
    padding: 12px 25px;
    font-size: 20px;
}

.to-start {
    margin-right:15px;
    color: white;
    background-color: rgb(0, 185, 160);
}

.how-process {
    color: black;
    padding: 8px 13px;
    border: 2px solid rgba(0, 185, 160, 0.3);
}

.to-menu {
    background-color: white;
    color: rgb(0, 185, 160);
}

/* img */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border-radius: 20px;
    overflow: hidden;
}

.big {
    width: 100%;
    height: 300px;
}

.small {
    flex: 1;
    min-width: 250px;
    height: 250px;
}

.info {
    background: rgb(0, 185, 160);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* svg */
.reasons svg {
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
}

span {
    color: rgba(0, 82, 71, 0.781);
    background-color: rgba(0, 185, 160, 0.3);
    font-weight: 900;
    font-size: 0.8em;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}